@use 'Styles/variables';
@use 'Styles/mix';

.positionsTable {
  font-size: 0.8rem;
  font-weight: bold;
}

table {
  border-collapse: collapse;
  background: variables.$background-secondary-color;
  border-radius: 13px;
  overflow-x: scroll;
  margin: 50px auto;
  position: relative;

  width: 80%;
  min-width: 820px;

  td, th {
    text-align: left;
    padding-left: 20px;

    &:first-child {
      text-align: center;
    }
  }

  thead tr {
    height: 60px;
  }

  tbody tr {
    height: 48px;

    &:hover {
      background: variables.$hover-color;
    }

    &:last-child {
      margin-bottom: 20px;
    }
  }
}
