
.filters {
  display: flex;
  margin: 20px auto;
  justify-content: center;
}

.filter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 50px;
  margin: 20px;
  align-items: center;
}

.label {

}
