@use 'Styles/variables';

.coinBalances {
  width: 400px;
  height: 50px;
  border-radius: 25px;
  background-color: variables.$background-secondary-color;
  margin: 20px auto;
  padding: 0 20px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.balance {
  display: flex;
  align-items: center;
}
