@use 'Styles/variables';
@use 'Styles/mix';

.coinBalances {
  width: 400px;
  margin: 20px auto;

  @media (max-width: variables.$break-point-mobile) {
    width: unset;
  }

  @include mix.card;
}

.balance {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
  cursor: default;

  &:last-child {
    margin-bottom: 0;
  }

  @include mix.hoverScale;
}

.leftGroup {
  display: flex;
}

.label {
  display: flex;
  flex-direction: column;
  margin-right: 15px;
}

.name {
  font-weight: bold;
  font-size: 1rem;
}

.symbol {
  font-size: 0.7rem;
}

.amount {
  font-weight: bold;
  font-size: 1rem;
}
