@use 'Styles/variables';
@use 'Styles/mix';

.header {
  background-color: variables.$background-secondary-color;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding: 0 20px;
}

.logo {
  width: 70px;
  height: 70px;
  border-radius: 5px;

  @include mix.hoverScale();
}
