
.connectBtn {
  width: 160px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  color: white;
}

.walletBtn {
  width: 250px;
  margin-bottom: 15px;
}

.buttons {
  display: flex;
  align-items: center;
}

.drop {
  font-size: 0.8rem;
  margin-right: 5px;
  height: 25px;
}
