
.closeButton {
  width: 160px;
}

.liquidated {
  color: red !important;
}

.active {
  color: green !important;
}

.deleted {
  color: orange !important;
}

.updating {
  color: blue !important;
}

.checkbox {
  margin: auto;
}
