@use 'Styles/mix';
@use 'Styles/variables';

.positionForm {
  @include mix.card;

  width: 420px;
  margin: 10px;
  font-weight: bold;

  @media (max-width: variables.$break-point-mobile) {
    width: unset;
  }
  @media (max-width: variables.$break-point-desktop) {
    height: 480px;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  @include mix.title;
}

.intro {
  display: block;
  font-size: 0.9rem;
  color: variables.$text-secondary-color;
  margin-top: 10px;
}

.inputGroup {

  .inputDetails {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
    margin-bottom: 10px;
  }

  .inputLabel {
    @include mix.title;
  }

  .balance {
    font-size: 0.9rem;

    @include mix.underline-selection;
  }

  .input {
    width: 99%;
  }

  .usdAmount {
    font-size: 0.9rem;
    margin-top: 5px;
    color: variables.$text-secondary-color;
  }
}

.slider {

  .sliderHandler {
    background-color: variables.$background-secondary-color;
  }

  .sliderInfo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 5px;

    .group {
      text-align: center;

      .label {
        font-size: 0.9rem;
        color: variables.$text-secondary-color;
        margin-bottom: 10px;
      }

      .amount {
      }
      .redAmount {
        color: variables.$red-color;
      }
    }
  }

  .sliderHints {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 15px;

    .hint {
      font-size: 0.8rem;
      color: variables.$text-secondary-color;
    }
  }
}

.buttons {
  display: flex;

  .submit {
    width: 100%;
  }

  .addNewPosition {
    margin-left: 10px;
  }
}
