@use 'Styles/variables';
@use 'Styles/mix';

.button {
  border: 0;
  padding: 0 10px;
  border-radius: 10px;
  cursor: pointer;
  background-color: variables.$element-background;
  height: 35px;

  @include mix.hoverScale();

  &:active {
    opacity: 0.9;
  }

  &:disabled {
    cursor: not-allowed;
  }
}
