$background-color: rgb(4, 20, 23);
$background-secondary-color: rgb(19, 56, 62);
$element-background: rgb(36, 84, 91);
$text-color: rgb(255, 255, 255);
$text-secondary-color: #cbcbcb;
$primary-color: rgb(247,147,26);


:export {
  primaryColor: $primary-color;
  elementBackground: $element-background;
};
