@use 'Styles/mix';

.position {
  display: flex;
  flex-direction: row;
  width: fit-content;
  margin: auto;
}

.cards {
  display: flex;
  flex-direction: row;
  margin-right: 10px;
}

.column {
  display: flex;
  flex-direction: column;
}

.collateralNextPriceTime {
  font-size: 0.7rem;
}

.lockedAmount {
  @include mix.underline-selection;
}
